@import 
    'board';

body {
    font-family: 'Open Sans',sans-serif;
    line-height: 1.4em;
    font-size: 14px;
    margin: 0;
}

* {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    box-sizing: content-box;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    padding: 0 15px;
    text-align: center;
}